.login {
  align-items: center;
  display: flex;
  min-height: calc(100dvh - var(--spacing-40));
  min-height: calc(100vh - var(--spacing-40));
  overflow: clip;
  padding: var(--spacing-14) 0;
  position: relative;
}

.login__blur {
  pointer-events: none;
  position: absolute;
}

.login__blur--left {
  height: 100%;
  left: -20%;
  bottom: -20%;
}

.login__blur--right {
  height: 100%;
  right: -20%;
  top: -20%;
}

.login__container {
  align-items: center;
  column-gap: var(--spacing-3);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  row-gap: var(--spacing-6);
}

.login__header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  grid-column: span 4 / span 4;
  max-width: var(--spacing-96);
}

.login__title {
  color: var(--black);
  font-family: var(--font-primary);
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
}

.login__image {
  aspect-ratio: 0.857;
  border-radius: var(--rounded-lg);
  height: auto;
  object-fit: cover;
  width: 100%;
  grid-column: span 3 / span 3;
}

.login__content {
  border-top: var(--border-1) solid var(--soft-gray);
  grid-column: span 7 / span 7;
  padding-top: var(--spacing-6);
}

@media (min-width: 1024px) {
  .login {
    padding: var(--spacing-24) 0;
    min-height: calc(100vh - var(--spacing-25));
    min-height: calc(100dvh - var(--spacing-25));
  }

  .login__blur--left {
    left: 0;
    bottom: 0;
  }

  .login__blur--right {
    right: 0;
    top: 0;
  }

  .login__container {
    align-items: start;
    column-gap: var(--spacing-32);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    row-gap: var(--spacing-2);
  }

  .login__image {
    border-radius: var(--rounded-xl);
    grid-column: span 1 / span 1;
    grid-row: span 2 / span 2;
  }

  .login__header,
  .login__content {
    order: 1;
    grid-column: span 1 / span 1;
  }

  .login__header {
    gap: var(--spacing-4);
  }

  .login__title {
    font-size: var(--text-4xl);
  }

  .login__content {
    border-top: none;
    grid-column: span 1 / span 1;
    padding-top: var(--spacing-0);
  }
}
