.plans {
  padding-top: var(--spacing-14);
  min-height: calc(100vh - var(--spacing-40));
  min-height: calc(100dvh - var(--spacing-40));
}

.plans__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  justify-content: center;
  margin: 0 auto;
  max-width: 34rem;
  padding-top: var(--spacing-6);
}

.plans__header-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.plans__title {
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
}

.plans__plan-type-list {
  display: grid;
  gap: var(--spacing-6);
  grid-template-columns: repeat(1, 1fr);
}

.plans__type-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  & svg {
    width: var(--spacing-12);
  }

  & h3 {
    font-size: var(--text-xl);
    font-weight: var(--font-black);
  }

  p {
    font-size: var(--text-xs);
  }
}

.plans__plans-list {
  display: flex;
  gap: var(--spacing-4);
  overflow-x: auto;
  padding: var(--spacing-10) var(--spacing-6) var(--spacing-6);
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.plans__plans-item {
  flex-shrink: 0;
  width: var(--spacing-72);
  scroll-snap-align: center;
}

.plans__plan-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  position: relative;
  padding-top: var(--spacing-10);
  height: 100%;
}

.plans__plan-card-tag {
  position: absolute;
  left: 0;
  top: 0;
}

.plans__plan-card-header {
  display: flex;
  gap: var(--spacing-4);

  & h2 {
    font-size: var(--text-2xl);
    font-weight: var(--font-black);
  }

  svg {
    flex-shrink: 0;
    width: var(--spacing-14);
  }
}

.plans__plan-card-price {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  & span:first-child {
    font-size: var(--text-xs);
    font-weight: var(--font-black);
    color: var(--lavender-gray);
    text-transform: uppercase;
  }

  & span:last-child {
    font-size: var(--text-xl);
    font-weight: var(--font-black);
  }
}

.plans__plan-card-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  list-style: disc;
  padding-left: var(--spacing-4);
  padding-top: var(--spacing-4);
  border-top: var(--border-1) solid var(--light-cream);
  flex-grow: 1;
}

@media (min-width: 1024px) {
  .plans {
    padding-top: var(--spacing-16);
    min-height: calc(100vh - var(--spacing-25));
    min-height: calc(100dvh - var(--spacing-25));
  }

  .plans__title {
    font-size: var(--text-6xl);
    text-align: center;
  }

  .plans__description {
    text-align: center;
  }

  .plans__plan-type-list {
    gap: var(--spacing-8);
    grid-template-columns: repeat(2, 1fr);
  }

  .plans__plans-list {
    gap: var(--spacing-6);
    overflow-x: initial;
    padding: var(--spacing-6) var(--spacing-0);
    scroll-snap-type: none;
    justify-content: center;
  }

  .plans__plans-item {
    flex: 1;
    max-width: var(--spacing-80);
  }
}
