@import "./typography.css";
@import "./variables.css";
@import "./preflight.css";

body {
  background-color: var(--light-gray);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: var(--spacing-0) var(--spacing-6);
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: var(--spacing-0) var(--spacing-8);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1436px;
  }
}
