@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/BRSonoma-Light.woff2") format("woff2"),
    url("../assets/fonts/BRSonoma-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/BRSonoma-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/BRSonoma-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/BRSonoma-Bold.woff2") format("woff2"),
    url("../assets/fonts/BRSonoma-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/BRSonoma-Regular.woff2") format("woff2"),
    url("../assets/fonts/BRSonoma-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
