:root {
  /* Colors */
  --black: #03050f;
  --dark-purple: #0a051e;
  --slate-blue: #5e6488;
  --aqua: #00f4e2;
  --mint-green: #00ff7f;
  --light-cream: #edeffc;
  --navy-blue: #141938;
  --electric-blue: #4f4fff;
  --lavender-gray: #7981b2;
  --white: #ffffff;
  --soft-gray: #a9afd9;
  --forest-green: #389e0d;
  --mint-pastel: #7df0ba;
  --light-gray: #fafbff;
  --red: #ff1c44;

  /* Fonts */
  --font-sans: "Lato";
  --font-primary: "BR Sonoma", sans-serif;

  /* Font Sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.25rem;
  --text-6xl: 2.5rem;
  --text-7xl: 2.75rem;
  --text-8xl: 3rem;
  --text-9xl: 3.25rem;

  /* Font Weights */
  --font-thin: 100;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  /* Line Heights */
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  /* Letter Spacing */
  --tracking-tighter: -0.04em;
  --tracking-tight: -0.02em;
  --tracking-normal: 0;
  --tracking-wide: 0.02em;
  --tracking-wider: 0.04em;
  --tracking-widest: 0.8em;

  /* Spacing */
  --spacing-0: 0;
  --spacing-px: 1px;
  --spacing-0-5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-2-5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3-5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-4-5: 1.125rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-18: 4.5rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-25: 6.25rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-48: 12rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;

  /* Border Radius */
  --rounded-none: 0;
  --rounded-sm: var(--spacing-1);
  --rounded: var(--spacing-2);
  --rounded-md: var(--spacing-3);
  --rounded-lg: var(--spacing-4);
  --rounded-xl: var(--spacing-6);
  --rounded-full: 9999px;

  /* Border Width */
  --border-0: 0;
  --border-1: 1px;
  --border-2: 2px;
  --border-3: 3px;

  /* Shadows */
  --shadow-lg: 0px 1px 32px 0px #aeacf359;

  /* Z-Index */
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;

  /* Transitions */
  --transition-fast: 0.3s;
  --transition-normal: 0.5s;
  --transition-slow: 0.7s;
}
